.vs/
MicroservicesApp.sln.DotSettings.user
Microservice1/bin/Debug/netcoreapp2.1/
Microservice1/obj/
Microservice2/bin/Debug/netcoreapp2.1/
Microservice2/obj/
Microservice1.csproj.user
Microservice2.csproj.user